@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 768px) {
  html, body {
    overflow: hidden;
    height: 100%;
  }

  /* Adjust spacing for mobile */
  .prose {
    font-size: 0.9rem;
  }
} 